body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("../img/yogamama.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
h1,h2,h3,span{
    color: white;
    clear: both;
    text-shadow: 3px 3px 4px rgba(0,0,0,0.8);
}
header{
    margin: auto;
    text-align: center;
}
label{
    padding: 1%;
    text-shadow: 2px 2px 3px rgba(3, 3, 3, 0.9);
    letter-spacing: 1px;
}
h1,h3{
    margin: 2%;
    letter-spacing: 1px;
}
h1{
    text-transform: uppercase;
    font-weight: lighter;
}
span{
    justify-content: center;
    font-size: larger;
    float: right;
    margin-right: 1%;
    margin-top: 1%;
}
#calendar{
    display: block;
    float: left;
    width: 70%;
    height: 70%;
    margin-left: 15%;
    border: groove rgba(255, 162, 27, 0.5);
    border-radius: 0.5rem;
}
section{
    height: 70%;
    margin-bottom: 1%;
}
.formbtn{
    color: black;
    background-color:rgba(255,165,0,0.1);
    position: relative;
    font-size: larger;
    border: none;
    padding: 1rem 1.5rem;
    cursor: pointer;
}
.openbtn{
    color: black;
    background-color:rgba(255,165,0,0.1);
    position: relative;
    font-size: larger;
    border: none;
    padding: 1rem 1.5rem;
    cursor: pointer;
}

/*button animations*/
.formbtn:after, .formbtn:before{
    content: '';
    position: absolute;
    width: 25%;
    height: 25%;
    border: 3px solid orange;
    transition: all .8s ease;
}
.formbtn::after{
    bottom: 0;
    right: 0;
    border-top-color: transparent;
    border-left-color: transparent;
}
.formbtn::before{
    top: 0;
    left: 0;
    border-bottom-color: transparent;
    border-right-color: transparent;
}
.formbtn:hover{
    background: none;
    color:rgba(255, 217, 0, 0);
}
.formbtn:hover::after, .formbtn:hover::before{
    background-color:rgba(255,165,0,0.2);
    width: 100%;
    height: 100%;
}
.openbtn:after, .openbtn:before{
    content: '';
    position: absolute;
    width: 25%;
    height: 25%;
    border: 3px solid orange;
    transition: all .8s ease;
}
.openbtn::after{
    bottom: 0;
    right: 0;
    border-top-color: transparent;
    border-left-color: transparent;
}
.openbtn::before{
    top: 0;
    left: 0;
    border-bottom-color: transparent;
    border-right-color: transparent;
}
.openbtn:hover{
    background: none;
    color:rgba(255, 217, 0, 0);
}
.openbtn:hover::after, .openbtn:hover::before{
    background-color:rgba(255,165,0,0.2);
    width: 100%;
    height: 100%;
}

.form{
    display: block;
    float: left;
    width: 40%;
    margin-left: 20%;
    margin-bottom: 2%;
}
/*heathForm.php*/
.healthform{
    display: block;
    background-color: #fff7f1ab;
    border: groove rgba(255, 162, 27, 0.5);
}
.healthformfs{
    display: block;
    background-color: #fff7f1ab;
}
/*Terveystietojen taulukko*/
/*.healthdata{
    display: block;
    float: left;
    margin-left: 15%;
    margin-bottom: 10%;
}*/
.hdata{
    border: groove rgba(255, 162, 27, 0.5);
    background-color: #ffe6d3b7;
    display: block;
    float: left;
    width: 70%;
    margin-left: 15%;
    margin-bottom: 10%;
}
.HDth{
    font-size: larger;
    font-weight: lighter;
    display: table-cell;
    vertical-align: inherit;
    text-align: center;
}
.HDtd{
    text-align: center;
    background-color: #fff7f170;
    display: table-cell;
    vertical-align: inherit;
}


#link{
    display: none;
}

/**NAV:**/
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-position: center;
    background-repeat: no-repeat;
}
nav{
    background-color:orange;
    height: 80px;   
    width: 100%;
}
label.logo{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0px 40px;
    font-weight: bold; 
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}
a.active,a:hover{
    background: #FFD700;
    transition: .5s;
}
.checkbtn{
    margin-top: 25px;
    font-size: 30px;
    color:white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
@media only screen and (max-width: 952px){
    label.logo{
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li a{
        font-size: 16px;
        padding: 7px;
    }
}
@media only screen and (max-width: 858px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background:#2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    a:hover,a.active{
        background: none;
        color:#FFD700;
    }
    #check:checked ~ ul{
        left: 0;
    }
    span{
        font-size: smaller;
    }
}
.markingPopup{
    width: 100%;
    height: 100%;
    background-color:rgba(0,0,0,0.7);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}
.markingContent{
    width: 50rem;
    height: 30rem;
    background-color: #fff7f1ab;
    border: groove rgba(255, 162, 27, 0.5);
}
.markingPopup2{
    width: 100%;
    height: 100%;
    background-color:rgba(0,0,0,0.7);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}
.markingContent2{
    width: 50rem;
    height: 30rem;
    background-color: #fff7f1ab;
    border: groove rgba(255, 162, 27, 0.5);
}
.diaryMark{
    color:white;
}
.markingTxt{
    width: 95%;
    height: 6.5%;
}
.diaryMarkingLabel{
    font-size: larger;
    text-shadow: none;
    color: black;
    font-weight: lighter;
}
.btn2{
    float: left;
}

