nav{
    justify-content: center;
}
a{
    text-decoration: none;
    float: left;
    margin: auto;
}
.drop{
    position: relative;
    display: inline-block;
  }
  .drop1{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 16rem;
    box-shadow: 0rem, 0.5rem 1rem 0rem rgba(0,0,0,0.2);
    padding: 1rem 1rem;
    z-index: 1;
  }
  .drop:hover .drop1 {
    display: block;
  }