body{
    font-family: '';
    font-weight: lighter;
}
nav{
    justify-content: center;
}
a{
    text-decoration: none;
    float: left;
    margin: auto;
}
.drop{
    position: relative;
    display: inline-block;
    margin-right: 1rem;
  }
.drop1{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 16rem;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}
.drop:hover .drop1 {
    display: block;
}
.infot{
      margin: auto;
      display: flex;
      justify-content: center;
}
button{
    font-size: 120%;
    font-family: inherit;
    border: none;
    padding: none;
    background-color:rgba(0,0,0,0.0);
}
.text{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 16rem;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}